
			<div class="q-container">
				<div class="q-row">
					<div class="q-col-2-3">
						<nav id="nav-footer-primary">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="page-sidebar.html">About Nathan</a></li>
								<li><a href="page-roadmap.html">Roadmap</a></li>
								<li><a href="page-blog.html">Media</a></li>
							</ul>
						</nav>
						<nav id="nav-footer-secondary">
							<ul>
								<li><a href="page-contact">Contact</a></li>
								<li><a href="page-features.html">Terms &amp; Conditions</a></li>
								<li><a href="page-features.html">Privacy Policy</a></li>
							</ul>
						</nav>
						<p class="footer-info">Paid For By The Nathan McMillan For Us Senate Committee</p>
					</div>
					<div class="q-col-1-3">
						<a href="#" class="footer-logo"><img src="{{ 'assets/images/logo-footer.png'|theme }}" alt=""></a>

						<ul class="social-profiles">
							<li><a href="#" class="social-button social-facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="social-button social-twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<!--
							<li><a href="#" class="social-button social-google" title="Google+"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="social-button social-foursquare" title="Foursquare"><i class="fa fa-foursquare"></i></a></li>
							<li><a href="#" class="social-button social-linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" class="social-button social-pinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#" class="social-button social-instagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="social-button social-flickr" title="Flickr"><i class="fa fa-flickr"></i></a></li>
							<li><a href="#" class="social-button social-youtube" title="YouTube"><i class="fa fa-youtube-play"></i></a></li>
							<li><a href="#" class="social-button social-vimeo" title="Vimeo"><i class="fa fa-vimeo-square"></i></a></li>
							-->
						</ul>
					</div>
				</div>
			</div>
