description = "Maintenance"

[session]
security = "all"
==
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Politi.co - {{ this.page.title }}</title>
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="title" content="{{ this.page.meta_title }}">
  <meta name="author" content="The Filipino People">

	</head>

	<body class="home" style="background-color: #0b233f;">
  <img style="margin: 0 auto;" src="{{ 'assets/images/pulitico.jpg'|theme }}" alt="Coming Soon" />
	</body>
</html>