								<div class="widget box box-join">
																<h4 class="box-headline"><a href="#">Already Registered?</a></h4>
																<p>Sign-in here:</p>
																<form data-request="onSignin" method="post" data-request-loading="#signin_loading">
																								<input name="login" type="email" class="form-control" id="userSigninLogin" placeholder="{{ loginAttributeLabel }}">
																								<input name="password" type="password" class="form-control" id="userSigninPassword" placeholder="Password">
																								<button type="submit">Sign-in</button>

																</form>
																<p><span id="signin_loading" style="display: none;"><i class="fa fa-circle-o-notch fa-spin"></i> please wait...</span></p>
								</div>
